<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Interactive Plotly Slider</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='android-chrome-192x192.png') }}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <h2>Select Timepoint:</h2>
    <input type="range" id="slider" min="{{timepoints[0]}}" max="{{timepoints[-1]}}" value="{{timepoints[0]}}" step="0.2">
    <span id="timepointLabel">{{timepoints[0]}}</span>
    
    <button id="playButton">▶️ Play</button>
    <select id="typeSelect"></select> <!-- Dropdown will be populated dynamically -->

    <div id="plot" style="width:1920px;height:1080px;"></div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>